@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffc300;
  --primary-dark: #cc9c00;
  --primary-light: #ffe799;
}

:root {
  font-family: 'Work Sans', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}